<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>muahoa</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexMuaHoaController</servlet-name>
    <servlet-class>controller.IndexMuaHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexMuaHoaController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThemHoaController</servlet-name>
    <servlet-class>controller.ThemHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemHoaController</servlet-name>
    <url-pattern>/them-hoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThemLoaiHoaController</servlet-name>
    <servlet-class>controller.ThemLoaiHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemLoaiHoaController</servlet-name>
    <url-pattern>/them-loai-hoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XoaHoaController</servlet-name>
    <servlet-class>controller.XoaHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaHoaController</servlet-name>
    <url-pattern>/xoa-hoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuaHoaController</servlet-name>
    <servlet-class>controller.SuaHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaHoaController</servlet-name>
    <url-pattern>/sua-hoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XemHoaController</servlet-name>
    <servlet-class>controller.XemHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XemHoaController</servlet-name>
    <url-pattern>/xem-hoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageNotFoundController</servlet-name>
    <servlet-class>controller.PageNotFoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageNotFoundController</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>